<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Oswald:wght@300&family=Raleway:wght@200&family=Ubuntu:wght@300&display=swap" 
    rel="stylesheet">
    <link rel="stylesheet" href="leaflet/leaflet.css" />
    <script src="leaflet/leaflet.js"></script>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/loading.css">
    <link rel="stylesheet" href="css/media.css">
    <title>Home page</title>
</head>
<body>
    
    <nav>
        <div id="logo">
            <img src="/img/taourit.png" alt="">
        </div>

         <div id="links">
            <a href="/">Accueil</a>
            <a href="/services">Services</a>
            <a href="/about" class="current">A propos </a>
            <a href="/contact" > Contact  </a>
         </div>

         <div id="burger">
            <i  class="fa-solid fa-bars"></i>
         </div>
       

         <% if(login){  %>
            <div id="login_a">
                <a href="/espace"> Cherif </a>
                <a class="logout" href="/logout">Logout</a>
            </div>
         <% }else { %>
            <div id="login_a">
                <a href="/login">Login</a>
                <a class="signup" href="/signup">Sign up</a>
            </div>
         <% } %>
    </nav>


    <div id="vertnav">
        <a href="/">Accueil</a>
        <a href="/services">Services</a>
        <a href="/about" class="current">A propos </a>
        <a href="/contact" > Contact  </a>
    </div>



    <div class="tete" >
        <h1> A propos de nous </h1>
    </div>


    <div class="container" >
        <div class="about">
            <center>
                <img style="width:400px" src="img/team.png" alt="">
            </center>
            <p><strong>Taourit Services</strong> est une startup algérienne dédiée à simplifier la recherche de services pour les utilisateurs. Notre plateforme permet aux personnes de trouver facilement les services dont ils ont besoin, en mettant en relation les prestataires de services qualifiés avec les utilisateurs à la recherche de ces services.</p>

            <p>Nous comprenons à quel point il peut être difficile de trouver les bons services, et c'est pourquoi nous avons créé une plateforme conviviale et intuitive pour faciliter cette recherche. Que vous ayez besoin de services médicaux, de services à domicile ou de services informatiques, nous sommes là pour vous aider à trouver les prestataires de services compétents et fiables dans votre région.</p>
            <p>Notre objectif est de simplifier le processus de recherche de services et d'améliorer l'expérience des utilisateurs en offrant un large éventail de services de qualité. Nous travaillons en étroite collaboration avec des prestataires de services vérifiés et évalués, afin de garantir la satisfaction des utilisateurs et de maintenir des normes élevées de qualité.</p>
            <p>Rejoignez-nous dès aujourd'hui et découvrez comment Taourit Services peut vous aider à trouver rapidement et facilement les services dont vous avez besoin. Nous sommes là pour vous accompagner à chaque étape du processus et rendre votre recherche de services simple, pratique et efficace.</p>
            <br><br>

        


         <!-- create animation -->
         <!-- <div class="container_ring">
            <div class="ring">Loading
                <span></span>
            </div>
        </div> -->


        
    </div>
    






    




    
    <script src="js/jq.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>



    <script src="js/media.js"></script>
    <!-- <script src="js/contact.js"></script> -->
</body>
</html>