<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Oswald:wght@300&family=Raleway:wght@200&family=Ubuntu:wght@300&display=swap" 
    rel="stylesheet">
    <link rel="stylesheet" href="leaflet/leaflet.css" />
    <script src="leaflet/leaflet.js"></script>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/loading.css">
    <link rel="stylesheet" href="css/media.css">
    <title>Home page</title>
</head>
<body>
    
    <nav>
        <div id="logo">
            <img src="/img/taourit.png" alt="">
        </div>

         <div id="links">
            <a href="/">Accueil</a>
            <a href="/services">Services</a>
            <a href="/about">A propos </a>
            <a href="/contact" class="current"> Contact  </a>
         </div>

         <div id="burger">
            <i  class="fa-solid fa-bars"></i>
         </div>

         <% if(login){  %>
            <div id="login_a">
                <a href="/espace"> Cherif </a>
                <a class="logout" href="/logout">Logout</a>
            </div>
         <% }else { %>
            <div id="login_a">
                <a href="/login">Login</a>
                <a class="signup" href="/signup">Sign up</a>
            </div>
         <% } %>
       
    </nav>


    <div id="vertnav">
        <a href="/">Accueil</a>
        <a href="/services">Services</a>
        <a href="/about">A propos </a>
        <a href="/contact" class="current"> Contact  </a>
    </div>



    <div class="tete" >
        <h1> Contactez nous </h1>
    </div>


    <div class="container" >
        <div class="contact">
            
            <h3>Contact</h3>
            <form action="" id="validateForm">
                <div class="success">Votre demande à été effectuée avec succès. </div>
                <div class="flex">
                    <label for="name">Nom et prénom :</label>
                    <input type="text" required>
                    
                </div>
                <div class="flex">
                    <label for="adresse">Adresse : </label>
                    <input type="text" required>

                </div>
                <div class="flex">
                    <label for="phone">Téléphone</label>
                    <input type="text" required>
                </div>
                <div class="flex">
                    <label for="">Détail supplémentaire :</label>
                    <textarea name="" id="" cols="30" rows="10" required></textarea>
                    
                </div>
                <button > Contacter </button>
                
            </form>
        </div>
        
            <hr>

        


         <!-- create animation -->
         <!-- <div class="container_ring">
            <div class="ring">Loading
                <span></span>
            </div>
        </div> -->


        
    </div>
    






    




    
    <script src="js/jq.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>



    <script src="js/media.js"></script>
    <script src="js/contact.js"></script>
</body>
</html>