<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Oswald:wght@300&family=Raleway:wght@200&family=Ubuntu:wght@300&display=swap" 
    rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/loading.css">
    <link rel="stylesheet" href="css/media.css">
    <title>Home page</title>
</head>
<body>
    
    <nav>
        <div id="logo">
            <img src="/img/logo.png" alt="">
        </div>

         <div id="links">
            <a href="/">الرئيسية</a>
            <a href="/services" >خدماتنا</a>
            <a href="/about">من نحن</a>
            <a href="/contact">اتصل بنا</a>
         </div>

         <div id="burger">
            <i  class="fa-solid fa-bars"></i>
         </div>
       
    </nav>


    <div id="vertnav">
        <a href="/contact">اتصل بنا</a>
        <a href="/about">من نحن</a>
        <a href="/services" >خدماتنا</a>
        <a href="/">الرئيسية</a>
    </div>



    <div class="tete" >
        <h1> Detail -  تفاصيل </h1>
    </div>


    <div class="container" >
        <div class="detail">
            <div>
                <img src="" alt="">
                <h2></h2>
                
            </div>
            <div class="star">

            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus voluptate dolores, 
                asperiores blanditiis sint iste? Et aspernatur soluta ut consequuntur!</p>

            <h3>Contact</h3>
            <form action="" id="validateForm">
                <div class="flex">
                    
                    <input type="text" required>
                    <label for="name">الاسم و اللقب</label>
                </div>
                <div class="flex">

                    <input type="text" required>
                    <label for="">العنوان</label>

                </div>
                <div class="flex">
                    
                    <input type="text" required>
                    <label for="">رقم الهاتف</label>
                </div>
                <div class="flex">
                    
                    <textarea name="" id="" cols="30" rows="10" required></textarea>
                    <label for="">تفاصيل فيما يخص طلبك</label>
                </div>
                <button >اتصل الآن</button>
                <div class="success">تم طلبك بنجاح، سنتصل بك بعد حين</div>
            </form>
        </div>
        
            <hr>

        


         <!-- create animation -->
         <!-- <div class="container_ring">
            <div class="ring">Loading
                <span></span>
            </div>
        </div> -->


        
    </div>
    






    




    
    <script src="js/jq.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
    <script src="js/media.js"></script>
    <script src="js/detail.js"></script>
</body>
</html>