<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Oswald:wght@300&family=Raleway:wght@200&family=Ubuntu:wght@300&display=swap" 
    rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/media.css">
    <title>Home page</title>
</head>
<body>
    
    <nav>
        <div id="logo">
            <img src="/img/logo.png" alt="">
        </div>

         <div id="links">
            <a href="/"class="current">الرئيسية</a>
            <a href="/services">خدماتنا</a>
            <a href="/about">من نحن</a>
            <a href="/contact">اتصل بنا</a>
         </div>

         <div id="burger">
            <i  class="fa-solid fa-bars"></i>
         </div>
       
    </nav>


    <div id="vertnav">
        <a href="/contact">اتصل بنا</a>
        <a href="/about">من نحن</a>
        <a href="/services">خدماتنا</a>
        <a href="/" class="current">الرئيسية</a>
    </div>











    <div id="banner">
        
        <div>
            <h1>Welcome to Click Services</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                Vitae id mollitia vel similique nam hic rerum doloribus eaque aut saepe.</p>
            <!-- <a href="/services">Services</a> -->
        </div>
        
    </div>

    


    <div id="intro">
        
        <center>
            <h1>About Us</h1>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus quam nulla libero facilis tenetur voluptatum cupiditate itaque aliquid, deleniti eligendi nemo assumenda animi ad doloribus quae architecto nihil nobis alias ducimus. Necessitatibus aperiam nisi laborum fugiat 
            nesciunt quis maiores eius saepe ex blanditiis velit iusto, asperiores beatae fuga consequuntur sint?

            <br><br>
            <a href="/about">Read More</a>
        </center>


    </div>


    <div id="how">
        <center>
            <h1>Why click ?</h1>
            <img src="img/people.png" alt="">


            
        </center>
        <div>
            <h2>Title</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint, odio? Sequi et impedit laudantium autem quaerat error dolore natus 
                veniam iste cum doloremque, eligendi recusandae asperiores inventore, iure placeat ea?</p>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, ea?</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, ea?</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa, ea?</li>
            </ul>
        </div>
        
    </div>

    
    <div id="step">
        <div>
            <i class="fa-solid fa-mobile"></i>
            <h3>Step 1</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, quasi?</p>
        </div>
        <div>
            <i class="fa-solid fa-bell-concierge"></i>
            <h3>Step 2</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illo, nihil!</p>
        </div>
        <div>
            <i class="fa-solid fa-check"></i>
            <h3>Step 3</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio sed dolores incidunt provident optio ipsam!</p>
        </div>
        
    </div>


    <div id="main_services">
        <h1>Main Services</h1>
        <div id="services">
            <div class="service">
                <img src="img/medical2.png" alt="">
                <p>Medical</p>
                <a href="services?categorie=doctors">Visit</a>
            </div>
            <div class="service">
                <img src="img/household.png" alt="">
                <p>House Services</p>
                <a href="services?categorie=house">Visit</a>

            </div>
            <div class="service">
                <img src="img/developer.png" alt="">
                <p>Software</p>
                <a href="services?categorie=software">Visit</a>
            </div>
        </div>

    </div>



    <div id="testimonial">
        <h1>Testimonial</h1>
        <div class="person">
            <img src="img/person.jpg" alt="">
            <h3>Mohamed Maouche</h3>
            <small>Student</small>
            <p>"Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora fuga aut et suscipit recusandae animi quam, in, harum accusamus provident possimus. 
                Dolores ratione placeat tenetur, obcaecati accusantium cumque quaerat in"</p>

                <div class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
        </div>
    </div>




    <footer style="padding: 40px 10px; background-color: rgb(44, 44, 47);">
        


        <center>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-whatsapp"></i>
            <i class="fa-brands fa-linkedin"></i>
        </center>

        <center class="copyright">
            Copyright © 2023 Company Name | Designed by Me
        </center>
    </footer>
    <script src="js/jq.js"></script>
    <script src="js/media.js"></script>
</body>
</html>