<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Oswald:wght@300&family=Raleway:wght@200&family=Ubuntu:wght@300&display=swap" 
    rel="stylesheet">
    <link rel="stylesheet" href="leaflet/leaflet.css" />
    <script src="leaflet/leaflet.js"></script>

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/loading.css">
    <link rel="stylesheet" href="css/media.css">
    <title>Home page</title>
</head>
<body>
    
    <nav>
        <div id="logo">
            <img src="/img/taourit.png" alt="">
        </div>

         <div id="links">
            <a href="/">Accueil</a>
            <a href="/services">Services</a>
            <a href="/about">A propos </a>
            <a href="/contact"> Contact  </a>
         </div>

         <div id="burger">
            <i  class="fa-solid fa-bars"></i>
         </div>
       
         
        <div id="login_a">
            <a href="/login">Login</a>
            <a class="signup" href="/signup">Sign up</a>
        </div>
        
    </nav>


    <div id="vertnav">
        <a href="/">Accueil</a>
        <a href="/services">Services</a>
        <a href="/about">A propos </a>
        <a href="/contact"> Contact  </a>
    </div>



    
        
    <div class="container" >
        

        <form action="/login" method="post" id="loginform">
            <h2>Identification </h2>
            <p>Seul les membres déja inscrit peuvent s'identifier</p>
            <input type="text" placeholder="Email ..." required id="email">
            <input type="password" placeholder="Password ..." required id="psw">
            <button type="submit">Valider</button>
            <hr>
            <small>Si vous n'êtes pas encore inscrit, veuillez vous enregistrer <a href="/signup">ici</a></small>
            <div class="err">Identification incorrecte.</div>
            <div class="success"> Identification résussie..vous serez rediriger dans quelques instants.</div>
        </form>


         <!-- create animation -->
         <!-- <div class="container_ring">
            <div class="ring">Loading
                <span></span>
            </div>
        </div> -->


        
    </div>
    






    




    
    <script src="js/jq.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>

    <script>
        
      </script>


    <script src="js/media.js"></script>
    <script src="js/login.js"></script>
</body>
</html>